
body {
    background-image: url('../Images/B7.png');
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: cover;*/
    /*background-attachment: fixed;
    background-size: contain;*/
    /*background-position: 50% 50%;*/
    /*background-size: auto;*/
    /*background-size: 1200px 573px;*/
    /*margin-top: 5px;*/
}

